.illustration p{
	font-size: 14px;
	color:#bbb;
}

.illustration .ill{
	margin-top: 20px; 
}
.illcard{
	border-radius: 4px;
	border: 0px solid #F7E8EC;
	padding: 4px;
}

.illcard:hover{
	border-radius: 4px;
	border: 2px solid #F7E8EC;
	padding: 4px;
}

.illustration .iconfont {
  font-family: "iconfont" !important;
  font-size: 48px;
  color: pink;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.illustration #myCarousel li{
	color: #565656;
}

.illustration .active li{
	background-color: #fff;
}

.illustration .icon-icon_arrow_left{
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
}

.illustration .icon-icon_arrow_right{
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
}

.illustration .carousel-control.left{
	background-image:none;
	text-shadow:none;
}
.illustration .carousel-control.right{
	background-image:none;
	text-shadow:none;
}
/*.illustration .carousel-control{
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
	
}*/

.pageheader{
	margin-bottom: 40px;
}

.WorkInfo, .UserStory{
	margin: 40px 0px;
}

.WorkInfo li{
	line-height: 28px;
	font-size: 14px;
}

.Usercard{
	border-radius: 16px;
}
.Say{
	/*padding: 40px;*/
	margin-bottom: 60px;
	/*margin-top: 200px;*/
	font-size: 16px;
	color: #565656;
	line-height: 32px;
}
.Say2{
	/*padding: 40px;*/
	margin-top: 100px;
	/*margin-top: 200px;*/
	font-size: 16px;
	color: #565656;
	line-height: 32px;
}
.illustration{
	margin-bottom: 120px;
}
.illustration a{
	text-decoration: none;
	color: #FF95AC;
}
.screen img{
	box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.1);
	margin-bottom: 32px;
}
.screen{
	margin-bottom: 0px;
}
.Say .screen .detail{
	padding-bottom: 40px;
}

.Say a{
	text-decoration: none;
	color: #FF95AC;
}
.Say .hhhh{
	padding: 80px;
}

.saylink{
	color: #fff;
	padding: 0px 0px;

}

.saylink ul{
	margin: 0 auto;
	display: inline-block;
}

.saylink li{
	font-size: 16px;
	/*border-right: 1px solid #DDE2EA;*/
}

.saylink ul a{
	margin:0;
	padding: 24px 48px;
	color:#565656;
	/*font-weight: bold;*/
	text-decoration: none;
	display: block;
}

.saylink a:visited{
	opacity: 1;
	border-radius: 0;
	/*color: #42537D;*/
}
.saylink a:hover{
	opacity: 0.6;
	border-radius: 0;
	/*color: #42537D;*/
}

.sticky{
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  	z-index:100;
}

p.reflections {
	color:#FF5783;
}

.WordInside img{
	margin: 24px 24px 8px;
	background-color: #FFF;
	box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.1);
}
